# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User Defined
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.pio/
.pio/*
.pio
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.ptx_reflect_cache.json
*__pycache__/
build/
external/unity/*
*/.venv/
docs/

# External libraries
lib/lua/
lib/lua/*
